@import "bootstrap";

.navbar-default {
    background-color:#cf102d;
    margin-bottom: 10px;
}

$NavpillColorBg: #eeeeee80;
$navPillColor: #ffffff;
$navPillMarginTop: 5px;

.nav-pills > li {
    &.active a, &.active a:hover, &.active a:focus {
        background-color: $NavpillColorBg;
        color: $navPillColor;
        margin-top: $navPillMarginTop;
    }
    a {
        color: $navPillColor;
        margin-top: $navPillMarginTop;
        &:hover {
            background-color: $NavpillColorBg;
        }
    }
}
@import "ember-power-select";
