<h3>Update Asset Record</h3>

<div class="row">
    <div class="col-md-6">
        {{asset-form
            selected_country=model.country
            selected_office=model.office
            selected_type=model.assettype
            selected_category=model.category
            selected_subcategory=model.subcategory
            selected_status=model.status
            selected_donor=model.donor
            item=model
            buttonLabel="Save changes"
            action="saveAsset"}}
    </div>
</div>
