<div class="navbar  navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {{#link-to 'index' class="navbar-brand"}}<img style="margin-top: -12px;" width="130" height="46" src="/static/images/mclogo.png" />{{/link-to}}
        </div>

        <div class="collapse navbar-collapse" id="main-navbar">
            <ul class="nav nav-pills">
                {{#link-to 'index' tagName="li"}}
                    {{#link-to 'index'}}Home{{/link-to}}
                {{/link-to}}
                {{#link-to 'about' tagName="li"}}
                    {{#link-to 'about'}}About{{/link-to}}
                {{/link-to}}
                {{#link-to 'assets.index' tagName="li"}}
                    {{#link-to 'assets.index'}}Assets{{/link-to}}
                {{/link-to}}
                {{#if session.isAuthenticated}}

                    <li class="dropdown nav navbar-right">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Admin<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            {{#link-to 'admin.categories.index' tagName="li"}}
                                {{#link-to 'admin.categories.index'}}
                                    <font color="black">Categories</font>
                                {{/link-to}}
                            {{/link-to}}
                            {{#link-to 'admin.categories.new' tagName="li"}}
                                {{#link-to 'admin.categories.new'}}
                                    <font color="black">New Cateogry</font>
                                {{/link-to}}
                            {{/link-to}}
                            <li class="divider" role="separator"></li>
                            <li><a href="#" {{action 'invalidateSession'}}><font color="black">Logout</font></a></li>
                        </ul>
                    </li>
                {{else}}
                    {{#link-to 'login' tagName="li" class="pull-right"}}
                        {{#link-to 'login'}}Login{{/link-to}}
                    {{/link-to}}

                {{/if}}

            </ul>

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</div>
